* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;

  .side-bar {
    width: 300px;
    color: white;
    
    &__side-header {
      background-color: #253141;
      height: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;

      &__box {
        width: 100%;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        height: 20px;
        
        &__top-items {
          font-weight: bold;
          list-style: none;
          display: flex;
          margin-left: 5px;
        }

        &__top-items__icon {
          display: flex;


          &__edit {
            margin-right: 5px;
            font-size: 15px;
          }

          &__new-group {
            font-size: 15px;
          }
        }  
      }
    }
    a {
      text-decoration: none;
      color: white;
    }

    .side-bar__groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px 20px 0;

      .side-bar__groups__group {
        color: white;
        text-decoration: none;
        margin-bottom: 40px;

        &__name {
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message {
          font-size: 11px;
        }
      }
    }
  }
  


  .chat-main {
  height: 100vh;
  width: calc(100vw - 300px);

    &__header {
      height: 100px;
      width: calc(100vw - 300px);
      padding:  0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      background-color: #ffffff;
    
      &__box {
        margin-top: 35px;
        padding: 0 auto;

        &__left-box {
        margin-bottom: 15px;
        color: #333333;
        font-size: 20px;
        }

        &__member-list {
        font-size: 12px;
        color: #999999;
        list-style: none;
        }
      }

      .chat-main__header__right-header {
        border: 1px solid $light_blue;
        color: $light_blue;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;

        &__edit-btn {
          margin-right: 5px;
          text-decoration: none;
          color: #38aef0;
        }
      }
    } 

    &__message { 
    background-color: #fafafa;
      height: calc(100vh - 190px);
      width:calc(100vw - 300px);
      padding: 46px 40px;
      overflow: scroll;

      &__mess {
        padding-bottom: 40px;

        &__info {
          display: flex;
          margin-bottom: 10px;
        
          &__sendr {
            font-size: 16px;
            color: #333333;
            font-weight: bold;
          }

          &__date  {
            font-size: 12px;
            color: #999999;
            margin-left: 10px;
          }
        } 
        &__text{
          &__image {
            font-size: 14px;
            color: #434a54;
            margin-bottom: 10px;
              }
            }
      }
    }

    .form {
      background-color: #DDDDDD;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 50px 20px 40px;
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }

      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
          cursor: pointer;
        }
        .hidden {
          display: none;
        }
      }

      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        cursor: pointer;
      }
    }
  }
}
